.experiment-guide {
  margin: 1em 0 1.3em 0;
  text-align: left;
}

h3 {
  margin-top: 1.3em;
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

img {
  margin: 1em 0;
  width: 50em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.img-long {
  width: 30em;
}

.next-experiment {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.next-experiment > a {
  margin: 2em 0 1em 0;
  display: inline-block;
  text-align: center;
  background-color: var(--main-btn-color);
  color: white;
  padding: 1em 1.3em;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease;
}

.next-experiment > a:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
}

@media (max-width: 50em) {
  img {
    width: 100%;
  }

  .img-long {
    width: 100%;
  }
}
