body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  height: max-content;
  display: grid;
  place-items: center;
}

.title-div {
  line-height: 5rem;
}

.title-div > h1 {
  font-size: 4rem;
  color: white;
}

.btn-div {
  display: flex;
  gap: 0.7em;
}

.main-btn {
  font-size: 1.3rem;
  background-color: var(--main-btn-color);
  color: white;
  padding: 0.7em 1em;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease;
}

.main-btn:hover {
  transform: translateY(4px);
}

@media (max-width: 400px) {
  .btn-div {
    flex-wrap: wrap;
    justify-content: center;
  }
}
