/** Root **/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --main-btn-color: #3b4247;
  --scrollbar-background: #e0e5eb;
  --scrollbar-thumb: #7f8081;
  --footer-background: #444e57;
  --light-text-color: #b2becd;
  --chapter-card-background: #e2eaf1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/** Root-end **/

/** Header **/

header {
  height: 5em;
  background-color: black;
}

header > nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  transition: 0.2s ease;
}

.title:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
  font-size: 1.2rem;
  gap: 1.7em;
}

.menu > a {
  color: white;
  transition: 0.2s ease;
}

.menu > a:hover {
  transform: scale(1.2);
}

/** Header-end **/

/** Footer **/

footer {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-background);
  color: var(--light-text-color);
}

footer > p {
  font-size: 1rem;
}

/** Footer-end **/

/** About  **/

.about {
  margin: 1em 0 1.3em 0;
  text-align: center;
}

/** Some Webkits thingy **/

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border: 2px solid var(--scrollbar-background);
}

/** Some Webkits thingy-end **/

/** Global **/

.chapter-page {
  min-height: calc(100vh - 5em - 3em);
}

.container {
  padding: 0 2em;
}

/** Global-end **/

/** Media Query **/
@media (max-width: 500px) {
  .container {
    padding: 1em;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }
}

/** Media Query-end **/
